# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Run a one-line script
      run: echo Hello, world!

    # Runs a set of commands using the runners shell
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.


    #   Push image to GitHub Packages.
    push:
      # Ensure test job passes before pushing image.
      needs: build

      runs-on: ubuntu-latest
      if: github.event_name == 'push'

      steps:
        - name: Checkout Code
          uses: actions/checkout@v2

        - name: Download file buildJar
          uses: actions/download-artifact@v1
          with:
            name: buildjar

        - name: Build image
          run: |
            mkdir -p build/
            mv buildjar/libs/calculator-0.0.1-SNAPSHOT.jar build/libs
            docker build -t image .

